* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
}

.title {
  font-size: 8rem;
}

.btn {
  text-transform: uppercase;
  height: 10rem;
  width: 30rem;
  font-size: 5rem;
  background: none;
  border: none;
  background-color: #6c757d;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}
